services:

  postgres:
    image: postgres:18.2-alpine
    env_file:
      - .env
    environment:
        - POSTGRES_DB=${POSTGRES_DB}
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - my_postgres_data:/var/lib/postgresql/18/docker


  backendnode:
    build:
      context: ../../SnippetAI_BE/SnippetAI_Backend
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    depends_on:
       postgres:
          condition: service_healthy

volumes:
  my_postgres_data:
