services:

  postgtes:
    image: postgres:18.2-alpine
    env_file:
      - .env
    environment:
        - POSTGRES_DB=${POSTGRES_DB}
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - my_postgres_data:/var/lib/postgresql/18/docker

volumes:
  my_postgres_data:
